/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: "times new roman", sans-serif;
  background-color: white;
  color: #333;
  padding-top: 50px;
}

h1,
h2 {
  color: #2c3e50;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #142044; /* Updated color */
  padding: 30px 30px; /* Further increase padding to adjust height */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

header .logo h1 {
  color: #fff;
  font-size: 1.8rem;
}

header .menu-icon {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff; /* White color */
  font-size: 1.1rem;
  font-weight: bold; /* Make text bold */
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 5px;
  margin-bottom: 5px; /* Add bottom margin to align with top spacing */
}

.text-white {
  color: white !important;
}

nav ul li a:hover {
  background-color: #dfbd69; /* Updated hover color */
}

/* Sections */
section {
  padding: 80px 20px;
  text-align: center;
}

/* Home Section */
.home {
  background: white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
}

.home h2,
.home p {
  color: black; /* Ubah warna teks menjadi hitam */
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Optional: Style untuk kalimat */
.home p {
  font-size: 1.5rem;
  font-weight: 400;
}

.section {
  background: white;
  margin-bottom: 20px;
}

/* Footer */
footer {
  background-color: #142044; /* Updated color */
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px; /* Set a fixed height */
  line-height: 30px; /* Center text vertically */
}

/* Loading Animation */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.loading .logo {
  font-size: 3rem;
  color: #1abc9c;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  header .menu-icon {
    display: block;
  }

  nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #001f3f; /* Navy color */
    padding: 10px;
    z-index: 10;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
    text-align: center;
  }

  nav.active {
    display: block;
  }

  section {
    padding-top: 80px;
  }
}
